/* COLORS */
$bg-color: #0f0413;
$bg-light-5-color: lighten($bg-color, 5%);
$bg-light-10-color: lighten($bg-color, 10%);
$text-color: #ffd0a5;
$highlight-color-one: #c2023c;
$highlight-color-two: #f17e22;
$highlight-color-three: #8b035d;
$highlight-color-four: #d81e5b;

/* GLOBAL ELEMENTS */

body {
    padding: 0;
    margin: 0;

    background-color: $bg-color;
    background-size: cover;
    color: $text-color;

    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

/* CLASSES */

.greeting-container {
    margin-top: 10vh;
    text-align: center;
}

.search-container {
    width: 60vw;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: $bg-light-10-color;
    transition: box-shadow 0.5s;

    &:focus {
        outline: none;
    }
}

.group-container {
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.group-header {
    text-align: center;
    padding-bottom: 0.5rem;
}

.header-General {
    border-bottom: solid $highlight-color-one 2px;
}

.header-School {
    border-bottom: solid $highlight-color-two 2px;
}

.header-Work {
    border-bottom: solid $highlight-color-three 2px;
}

.header-Entertainment {
    border-bottom: solid $highlight-color-four 2px;
}

.badge {
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: $bg-light-10-color;
    box-shadow: 0.5rem 0.5rem 0.3rem #000;
    transition: all 0.2s ease-in;

    .badge-icon {
        width: 40px;
        border-right: solid $text-color 1px;
    }

    .badge-link {
        text-decoration: none;
        color: $text-color;
        padding-left: 1rem;
    }

    &:hover {
        transform: translateX(10px);
        background-color: $bg-light-5-color;
    }
}

/* IDS */

#link-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#searchbar {
    height: 32px;
    border: none;
    width: 95%;
    margin-left: 10px;
    font-size: 16px;
    outline: none;
    background: none;
    color: $text-color;
}
