!!Colors
! special
*.foreground:	#f1efee
*.background:	#1b1918
*.cursorColor:	#f1efee

! black
*.color0:	#1b1918
*.color8:	#a8a19f

! red
*.color1:	#f22c40
*.color9:	#f22c40

! green
*.color2:	#5ab738
*.color10:	#5ab738

! yellow
*.color3:	#d5911a
*.color11:	#d5911a

! blue
*.color4:	#407ee7
*.color12:	#407ee7

! magenta
*.color5:	#6666ea
*.color13:	#6666ea

! cyan
*.color6:	#00ad9c
*.color14:	#00ad9c

! white
*.color7:	#f1efee
*.color15:	#f1efee
!! URxvt Appearance

URxvt*font: xft:xos4 Terminus:size=10

! Fake Transparency
!URxvt*transparent: true
!URxvt*shading: 30
!URxvt*depth: 24

! True Transparency
URxvt*depth: 32
URxvt*background: [75]#1b1918

URxvt.highlightColor: white
URxvt.highlightTextColor: black

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 32
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.iso14755: false

!! Xorg Variables
Xft.dpi: 240
